/*--------------
    DEBUG
--------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

img{
    width: 100%;
    display: block;
}

/*--------------
    HEADER
--------------*/

header{
    height: 100px;
}

.header-container{
    display: flex;
    justify-content: flex-end;
}

.speaker-buttons{
    padding-top: 4px;
    padding-right: 4px;
}

.speaker-buttons *{
    background-color: #4a4a4a;
    color: #fff;
    padding: 4px 2px;
    border-radius: 5px;
    font-size: medium;
}

/*--------------
    MAIN
--------------*/

main{
    display: flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    height: calc(100vh - 200px);
    overflow-y: auto;
}
.user-container{
    /* display: flex; */
    width: 20%;
    /* height: 155px; */
    padding: 10px 4px;
    min-width: 250px;
}

.user{
    position: relative;
}

.user-name{
    position: absolute;
    color: #fff;
    background-color: rgba(99, 110, 122, 0.4);
    padding: 4px;
    bottom: 0;
    left: 0;
}

/*--------------
    FOOTER
--------------*/

footer{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100px;
    background-color: #222222;
}


.mute-controll{
    /* display: flex; */
    width: 20%;

}

.mute , #text{
    color: #fff;
    padding-left: 20px;
}

.mute-controll ul{
    padding-left: 10px;
    padding-top: 10px;
}
.mute-controll ul li{
    color: #fff;
    font-size: 20px;
    padding: 5px 0px;
}